<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Command Calculator</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="shortcut icon" href="../static/img/maths.png" type="image/x-icon">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1 class="title">Voice Command Calculator</h1>
        </header>

        <main class="main-content">
            <div class="display">
                <div id="display-screen">0</div>
            </div>
            <div class="controls">
                <button id="speak-btn" class="icon-button">
                    <img src="../static/img/output-onlinegiftools.gif" alt="Mic" class="mic-icon">
                </button>
                <p class="instructions">Click the mic and speak: "Add 5 and 7"</p>
                <span class="support-operations">We are working for Addition (+), Substraction (-), Multiplication (x), Division (/), Modulo (%), Power (^) and Sqaure Roots ( <sup>^1/2</sup> )</span>
            </div>
        </main>

        <footer class="footer">
            <p>Powered by Voice Recognition | Flask Backend</p>
        </footer>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>